# TCMB API Configuration
TCMB_API_KEY=your_api_key_here
TCMB_USE_MOCK=true

# AWS RDS Configuration
RDS_HOST=your_rds_endpoint.rds.amazonaws.com
RDS_USER=postgres
RDS_PASSWORD=your_secure_password
RDS_PORT=5432
RDS_DB=tcmb_prod

# AWS S3 Configuration
S3_BUCKET=your_bucket_name
AWS_REGION=eu-central-1

# Airflow Configuration
AIRFLOW_HOME=./
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:///./airflow.db
AIRFLOW__CORE__DAGS_FOLDER=./dags
AIRFLOW__CORE__LOAD_EXAMPLES=False
